<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Country Flags API</title>
</head>
<body>
    <h1>Current Countries</h1>
    <ul class="countries">
    <% for(let i=0; i < info.length; i++) {%>
        <li class="country">
            <span><%= info[i].name %></span>
            <span><%= info[i].shortName %></span>
            <span><%= info[i].likes %></span>
            <span class='fa fa-thumbs-up'></span>
            <span class='fa fa-trash'></span>
            <img src="../public/flags/" <%= info[i][shortName]%>".png" >
        </li>
    <% } %>
    </ul>

    <h2>Add A Country:</h2>

    <form action="/addCountry" method="POST">
        <input type="text" placeholder="Name" name="name">
        <input type="text" placeholder="Short Name" name="shortName">
        <input type="submit">
    </form>
    

    <script src='js/main.js'></script>
</body>
</html>
